.newsletter{
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

label{
  margin-top: 1em;
}

button{
  margin-top: 2em;
  width: 35%;
  margin-left: 65%;
}

form {
  width: 280px;
  margin: 10px auto 0;
  text-align: left;
  display: inline-block;
}

fieldset{
  border: none;
  margin-top: 0.8em;
}
#albums:focus,
#song:focus,
input[type=text]:focus,
input[type=email]:focus,
button:focus{
  background-color: #f0e68c;
  color: black;
  outline: none;
}

button:focus{
  border-radius: 5px;
  border: none;
}

/*
legend{
  margin-bottom: 0.8em;
}
*/

legend {
    padding-top: 20px;
    font-size: 2em;
    text-transform: uppercase;
    color: #781125;
    font-weight: bold;
}

.header-label {
  display: block;
  margin: 20px 0 5px;
}

.offscreen {
   position: absolute;
   left: -200em;
   top: -20em;
}

.container{
  text-align: center;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}